@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --variant-dark: .dark &;
  --font-heading-en: "Arial Black", Arial, sans-serif;
  --color-enji-hover: #b94047;
  --color-enji-text: #8f1727;
  --color-yellow: #dbae07;
  /* --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  /* color: var(--foreground); */
}

.font-body-ja {
  font-family: var(--font-notojp);
}

.font-body-en {
  font-family: var(--font-roboto);
}

.font-heading-en {
  font-family: var(--font-heading-en);
}
